<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Friends</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="myApp">
  <h1>The <strong>facebook</strong> Friend Machine</h1>

  <div class="friends" ng-controller="FriendCtrl">
    <form class="form-inline searchForm" role="form">
      <div class="form-group">
        <input class="form-control" placeholder="Search Name" ng-model="searchTerm.name">
        <input class="form-control" placeholder="Search State" ng-model="searchTerm.location.state">

        <select class="input-medium" ng-model="sortProp">
          <option value='name'>Name</option>
          <option value='friend_count'>#Friends</option>
          <option value='location.city'>City</option>
          <option value='location.state'>State</option>
          <option value='location.country'>Country</option>
        </select>

        <select class="input-medium" ng-model="sortDirection">
          <option value="-">Descending</option>
          <option value="+">Ascending</option>
        </select>
      </div>
    </form>

    <ul>
      <li class='friend' ng-repeat="f in friends | filter: searchTerm | orderBy: sortDirection + sortProp">
        <img class="profile-pic" ng-src={{f.pic_square}}>
        <h3>{{f.name}}</h3>
        <div class="location">
          Location: {{f.location.city}}, {{f.location.state}}, {{f.location.country}}
        </div>
        <div class="status">
          Status: {{f.status}}
        </div>
        <div class="num-friends">
          Friends: {{f.friend_count}}
        </div>
      </li>
    </ul>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- your scripts here -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
  <script src="./app/app.js"></script>
  <script src="./controllers/FriendCtrl.js"></script>
</body>
</html>
